<div class="container">



  <h1>"Hello World!" in apple watch</h1>
<br>
   <img class="featurette-image img-responsive center-block" style="padding-right:40px;"src="https://recodetech.files.wordpress.com/2015/04/circle-applewatch.png?w=1600"/><br>
<p>I’m  pretty sure everyone knows what's “hello world” mean. Or at least those from engineering background does. I recalled the first time I learned C, the first time I managed to print out “hello world”, it was like having a superpower that computer would listen my command. Fast forward 2015, we’re seeing a lot programs built on iOS and android device built across many platform and languages.</p>
<p>just this week, Apple had released a complete developer toolset for Apple watch, along with other apple devices. Still an uncharted territory, apple watch opens up a new possibilities for creating watch app, along with its new apple’s programming language. So that’s being said, how do you print out “hello world” on apple watch?</p>

<p>for this brief tutorial you need to have a Xcode version no 7. The one I’m using currently is beta version 7.1, that should also works.</p>
<br>
<img class="featurette-image img-responsive center-block" src="/assets/1-b378730de1e83937ad3ae4ca7a806ee60b4e9939c52cf3f7a3d33bfaba1506d6.png" alt="1 b378730de1e83937ad3ae4ca7a806ee60b4e9939c52cf3f7a3d33bfaba1506d6">
<br>
<p>upon prompting the application, you will have the option of creating a single page for playground, create a new Xcode or use the existing one. We’ll start fresh, by creating a new Xcode project. Under watchOS/Application, you’ll only have a single option of creating a template for iOS with watch kit app. click next and fill in the necessary details.</p>
<br>
<img class="featurette-image img-responsive center-block" src="/assets/2-35266f5ef9c9770441091593f45d964c4018a503e8615e8ec993156602d38e58.png" alt="2 35266f5ef9c9770441091593f45d964c4018a503e8615e8ec993156602d38e58">
<br>
<img class="featurette-image img-responsive center-block" src="/assets/3-0bd5107b082b801633a572d15d4ca1f12648851d5752866801aef1371c455261.png" alt="3 0bd5107b082b801633a572d15d4ca1f12648851d5752866801aef1371c455261">
<br>
<p>If you’re new to Xcode’s environment, you will see this humongous lines of code , files, switch and toggle. DON’T freak out. in this tutorial I’m just gonna show you how to print out words on apple watch, just follow my guideline.</p>
<br>

<img class="featurette-image img-responsive center-block" src="/assets/4-50293db06a87e690aa59b612169bfeb0792f3e93d5e9adda4414a37cdcafeff5.png" alt="4 50293db06a87e690aa59b612169bfeb0792f3e93d5e9adda4414a37cdcafeff5">
<br>
<p>At the left sidebar, you’ll see something quite similar to sublime text editor(or perhaps any text editor). A number of files are grouped together for specific part’s development( iPhone or apple watch ). Go down at the 4th file((your app name) WatchKit App) and click the file named Interface.storyboard.</p>
<br>
<img class="featurette-image img-responsive center-block" src="/assets/5-645d11ac42fae071484819658f08ac57bd5d3f70ed696dd69d7fc0fa10edca2a.png" alt="5 645d11ac42fae071484819658f08ac57bd5d3f70ed696dd69d7fc0fa10edca2a">
<br>
<p>One noticeable experience using Xcode is you can directly design the interface.
If you know how to “inspect element” in google chrome, you’ll know what I mean.

at the very bottom left of the console you will see a list of object under the object library. this stores the label,switch and other functions. for now we’re just going to use label. you can scroll or just writes in “label” in the search box.</p>

<p>when the label column is visible, hold click and drag it to the face of the simulator. you will see a text box with ‘label’ written and attribute inspector pop up at the left sidebar.

At the very first section of sidebar ‘Label’, there’s a text field named text. change it to “Hello World!” and voila!</p><br>
<img class="featurette-image img-responsive center-block" src="/assets/6-13c606e1f2938969ce39a9a3b6384be3a09b223497923d93061857dfb5b13cd6.png" alt="6 13c606e1f2938969ce39a9a3b6384be3a09b223497923d93061857dfb5b13cd6"><br>
<img class="featurette-image img-responsive center-block" src="/assets/7-dfee39424d412d148ce8693c0b53a19bc0dd00d0fc7dbcd42d7479f97582e2fd.png" alt="7 dfee39424d412d148ce8693c0b53a19bc0dd00d0fc7dbcd42d7479f97582e2fd">
<br>
<p>One last step is to go to the watch kit simulator. go to the top nav bar, target the watch kit app and choose either of the iPhone 6 or 6s plus simulator. click the play button, and the simulator should pop up with “hello world!” written on it.</p>
<br>
<img class="featurette-image img-responsive center-block" src="/assets/8-9429ee2a897597c9f79b95e88999fc4adb49df021da8657ec0c7867778388ed6.png" alt="8 9429ee2a897597c9f79b95e88999fc4adb49df021da8657ec0c7867778388ed6"><br>
<img class="featurette-image img-responsive center-block" src="/assets/9-d878692ed5f9248984daf48431b974137003fc46acd39bd7747be2724b68ae7d.png" alt="9 d878692ed5f9248984daf48431b974137003fc46acd39bd7747be2724b68ae7d">
<br>
<p>Coming from ruby on rails background, I find that programming in apple iOS is freaking complicated. back then when I studied ruby, a text editor and terminal are all that is needed for developing website based on ruby. while its more like driving a car, coding using Xcode was more like, manoeuvring a submarine..along the process then you’ll will learn the function of those specific section or codes.</p>
<br><br>
<div class="col-md-3"><img class="featurette-image img-responsive center-block" src="/assets/10-c311a496ae45504f681d9026e00fc62046f25df092aa033130941ff3cbf2a393.jpg" alt="10 c311a496ae45504f681d9026e00fc62046f25df092aa033130941ff3cbf2a393"><br> </div>
<div class="col-md-9">
  <h2>About me</h2>
  <ul>
    <li>Izzuddin Cheras</li>
    <li>Studied automotive engineering, grauated from Tokai University, Japan '14</li>
    <li>Gave up engineering job and went to programming course held by MaGIC</li>
    <li>currently working in a startup company</li>
  </ul>
</div>


</div>
