<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
.flip3D{

	width:240px;
	height:200px;
	margin:10px;
	float:left;
}

.flip3D > .front{
	/*position: absolute;*/
	/*transform: perspective(600px) rotateY(0deg);*/
	background: #FC0;
	width: 240px;
	height:200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}


.flip3D > .back{
	position: absolute;
	transform: perspective(600px) rotateY(180deg);
	background: #FC0;
	width: 240px;
	height:200px;
	border-radius: 7px;
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.flip3D:hover > .front{
		transform: perspective(600px) rotateY(-180deg);

}

.flip3D:hover > .back{
		transform: perspective(600px) rotateY(0deg);

}
	</style>
</head>
<body>
	<div class="flip3D">
<div class="back" style="
    height: 400px;
    width: 200px;
">   <img src="/assets/pair1-2-c480ae350f1cb9b976d0f0b59c18af839942c4b722fdc2ba7258a527078c0b44.png" alt="Pair1 2 c480ae350f1cb9b976d0f0b59c18af839942c4b722fdc2ba7258a527078c0b44" style="
    height: 400px;
">   </div>
<div class="front" style="
    height: 400px;
    width: 200px;
"> <img src="/assets/pair1-1-bbf2cc21965ce08033d2fcd3888ecd5c72edd3eb440eec67e475f0be96a1c18b.png" alt="Pair1 1 bbf2cc21965ce08033d2fcd3888ecd5c72edd3eb440eec67e475f0be96a1c18b" style="
    height: 400px;
">   
</div>
	</div>

		<div class="flip3D">
<div class="back" style="
    margin-left: 60px;
">  <%= image_tag("pair2-2.png")%> </div>
<div class="front" style="
    margin-left: 60px;
">   <%= image_tag("pair2-1.png")%>  </div>
	</div>

		<div class="flip3D">
<div class="back" style="
    margin-left: 100px;
    width: 577px;
    height: 202px;
"> <%= image_tag("pair3-2.png")%> </div>

<div class="front" style="
    margin-left: 100px;
    width: 577px;
    height: 202px;
">  <%= image_tag("pair3-1.png")%> </div>
	</div>
<h1 style="margin-top:350px;
font:LiberationSans-Bold;
">BMW i8.</h1>
</body>

<h3>Future level: 100 trillion, trillion.</h3>
<p >I bet you have seen the movie the fast and furious and Tron, because if you`re not, you`re not a fan of cars and tech, and you shouldn`t be bothering reading this blog. if you are, then imagine swapping one vehicle in both of the movie. Light cycle in a scene where the car evades the cop? I bet the vehicle just so stand out, I bet the police let them go first and wait for a call if anyone saw a vehicle that seems like a space ship. The heavy nissan GTR in light cycle match? well, the whole track is made out of glass apparently, good luck with the launch control.  If there is a bridge that can connect the best of both world, that would be this one; BMW i8.</p>

<p>well most of the time, before writing about cars, I would make some research first; the previous generation,design and power-train altogether combined.for the i8, it's just way too impossible. It's like describing the first generation of iPad, where there is no ancestor of it to make a reference. this car had just created a whole new class in a whole new level, ventured deeply into uncharted territories.

is this car, by any mean, comparable to any other standard model? lets try with the exotic Mercedes Benz SLR McLaren first, as both have door that opens in a really swag-manner. the merc have V8-punching piston, while the i8 shy away with its 3 inline pistons . Even BMW mini have a punching power more than the i8, but the latter can make a 0-60 sprint in about 3 - 4 seconds, twice as much needed for the cooper. the car literally just shying away for the big old monstrous engine and adapt new technologies in its construction process.

this is what the guys in Leipzig, Germany call 'BMW Concept Vision Efficient Dynamics'. I'm not sure if they speak english. In a more simpler term, it is called Hybrid. Super advance hybrid, as there are certain things that is not available in the standard Prius. </p>


<h3>Exterior</h3>
<div class="exterior">
<img src="/assets/bmw3-967977a8e698bba521bbda6b7416188272244d2b23a52c2b2749cb76e9cd3fd4.png" alt="Bmw3 967977a8e698bba521bbda6b7416188272244d2b23a52c2b2749cb76e9cd3fd4" style="
    width: 800px;
    float: right;
    padding-left: 3-;
    padding-left: 30px;
    padding-bottom: 10px;
">

</div>
<p>We'll get to that later, but first, we'll start with it's most outrageous-Wow factor, which is exterior design. try stand in front of it, I bet you wouldn't shut your eyes for more than a minute.The v shaped front hood seems to be well integrated with the whole body structure. Well they don't want people to see its pony sized electric motor anyway. lower your a sight a bit, and you'll see the recgonizable twin hexagonal grille and a whole lot of  interconnected lines and curves making up those front grille and bumper. I gotta say, in my eyes the front bumper does looks like the spartan head shield. adding the final touch is definitely the headlight, matrix led light with thick accent of eyeliner underneath. 

if there is no BMW batch on the hood nor the wheel, I bet people would think that this car is made by aliens. Some bunch of aliens that had graduated from arts and engineering school. I bet those aliens just wanna keep the car as dope as it can, if not they wouldn’t bother making this grand door structure on the A pillar that split the differences between scissor and gull-wing door. I’m interested to know how would the car perform parking in a tight space at the grocery store.

students from engineering that had studied aerodynamic engineering would quickly recognize the reason behind all of this car structure, especially the v shaped clearance structure at the back of the car. some would relate it with Ferrari F12 Berlinetta which has the hollow intake and bridge structure at the front, reducing drag co efficiency(Cd), slippery up to 0.26.and the rear structure does looks as equally awesome as the front too, as the rear light resemble much of the front accent eyeline. Above all, I’d say the i8 is built for more of a social experience rather than getting you from A to B. try getting this car into gas station without attracting much attention. Even the police would stop you by to take some photos. </p>

<h3>Interior</h3>
<img src="/assets/bmw6-f5f2fcc0fb60f17f7a0e5e03b619847c4c15faccd75e8d92957929a6ce8837dc.JPG" alt="Bmw6 f5f2fcc0fb60f17f7a0e5e03b619847c4c15faccd75e8d92957929a6ce8837dc" style="
    width: 500px;
    float: left;
    padding-right: 30px;
">
<p>in the BMW ‘i’ model line up, there’s only the i3 and this i8. the i3 looks similar with the i3, and it goes the same too with the construction process. the car structure is made out of CFRP, that stands for Carbon Fiber Reinforced Plastic. It’s the same material you would find in Airbus A350 XWB and lamborghini sesto element. Aluminum becomes out of date these days. its easy to recognize the material,a dark rubber like structure with thin white lines visible at the door seals. 
</p>

<p>its basically a feel a bit of gymnastic to climb in out of the car. its partly because the i8 is so lowered to the ground, but its also because of the white tall sill at the bottom and open door at the top. you kinda have to put one leg in, sit on the sill and scooch over and pull the other leg in if you wanna drop into your fancy ride without looking like a fool. on the way out, you have to remember to reverse the process or otherwise you’ll end up with the hand on the pavements when flopping out of the car. rear passenger seat is quite small, you can fit in a child or two, and that’s it. 

entering the cockpit the thin blue colored seatbelt will catch your attention first. I mean like come on, it’s a future generation car, I’m sure they wanna change everything, till the last possible bit. the central cluster and drive selector looks very much the same with the i3. but instead of its drive selector which is located at the paddle shifter, for i8 it is properly located at the center. compared to its little brother i3, the i8’s interior looks more like a proper sports car, but with a blend of future tech. apart from this, it’s also equipped with navi screen which serves a BMW iConnectedDrive. everything from the weather,news ,making calls and car’s health right in front of the screen. plus there’s an app to monitor the car too. Now that’s something you won’t find in a typical Hybrid.</p>

<h3>Performance</h3>
<p>Its quite rare to find a MR (middle-engine-rear-drive) vehicle these day. the i8 engine twin power turbo 1.5 liter 3 cylinder engine with 231 hp peak performance combined with 131 hp worth of electric motor. that should enough to propel the car in 0-60 test for about  4 seconds. its definitely not the fastest car they ever produced, but it’s pretty awesome considering how small the engine is, combined with its electric drive system. Oh, and not to forget regenerative braking system which had become pretty common in hybrid car nowadays. there are 3 available driving mode; COMFORT, ECO PRO and SPORT. the comfort mode lets you drive all electric while sport mode unleash the soaring sound of the engine. the engine sound is channeled directly to the passenger compartment for a better driving experience, more like lexus LFA which has the yamaha guys tuned the engine sound for them.</p>
<p>

	<h3>Verdict</h3>
Yes, the i8 is the most outrageous design I’ve ever seen, and that should create a high demand for it. But no matter how good a car is, it would be useless at the end of a test drive if you have the right amount of money. And for this one, it starts at ..(drumroll)RM 470,000 and upwards. Even if you have the money, it’s definitely worth to wait a while for charging facilities to become available in your town before buying one.</p>

<h3>Location</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103767.17993069744!2d139.69706279999997!3d35.63452085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc5b07dac763ff6b3!2z77yi77yt77y3IO-8tO-9j--9i--9me-9jyDvvKLvvK3vvLfmlrDlrr8!5e0!3m2!1sen!2smy!4v1437669682585" width="400" height="300" frameborder="0" style="border:0; float:left;" allowfullscreen></iframe>
<p style="float:left; width:600px; padding-left:30px;">This photo and details was taken during at BMW Shinjuku, Tokyo, Japan. the pictures are definitely taken by me.
Anyone who is also studying programming? give us a shout out!! email us at izzuddin91@me.com. </p>





</html>
