<h1>Electric motor!</h1>
<img src="http://www.daviddarling.info/images/electric_motor.jpg" alt="Electric motor 94d97de715907c999c23a4649cce8af3617ea4856564160bf7da102a14650ede" style="
    border-left-width: 20px;
    margin-left: 350px;
    position: center;
">
<h1>Can you help me build it?</h1>
<p>Hello guys. this post might be different from other post, because this time it is not about cars, nor programming. The purpose of me writing the blog here, is asking for help for assistance and advice on how to start build an electric motor. My name is izzuddin, a Malaysian.at the age of 23 I studied automotive engineering in Tokai University, Japan, and my interest has always been sports car, electric car, renewable energy, and computer programming. </p>

<p>I’m a really big fan of Tesla Motor. For me, Elon Musk is the only person in the world that closely resemble the fiction-character Iron-man . But what makes me admire him the most is how strongly he believes the idea that electric car could be made as competitive as the standard combustion engine. He proves that electric car doesn’t need to end as some school projects; nor does it have to be left rotten at research labs;  you could actually make a profit out of it, and help save the mother earth by cutting the emission of carbon at the same time. 

Is it really that profitable?</p>

<p>I am going to list here a handful of reason on why building electric car now seems possible. this is actually based on what I read from Japanese business magazine and books related to Tesla Motors.</p>

<ul>
	<li>An entrepreneur called Elon Musk, develop and sold PayPal for 1.5 billion, invest in Tesla Motor and became the CEO. In 2008 the built Tesla Roadster, based on Lotus's frame bodyworks. Then they produced Tesla model S, and they make a big hit. Last year they sold 22,477 cars, and another 35,000 this year.</li>
	<br>
	<li>What makes Tesla a big hit?  1. proper, premium looking sedan, not a golf cart.  2. range up to 500 km on a full charge. Nissan Leaf makes only 250 km.  3. fast acceleration. In 0-60mph test, Tesla makes it in 4 seconds, while Porsche Panamera 4S makes it in 6.21s.  4. safety. Tesla is the only vehicle that received a 5 star rating by the National Highway Traffic Safety Administration(NTHSA). Why? Because there is no engine,  makes bigger crumple zone, means there is no chunk of metal that will squash the passenger should any front collision occur. Also has the motor with the size of a watermelon.	
</li>	<br>
<br>
<li>Who's investing in Tesla ? 1. Panasonic provides battery. 2. Toyota and Daimler provides power powertrain. Taiwan Foxconn provides small parts.  In July 31st Tesla and Panasonic have signed an agreement on the large scale battery manufacturing factory in the US, aiming to reduce cost.</li>	<br>

<li>How much does a Model S cost? RM 230,000 (71,000 dollar )and upwards. But get this; on the first quarter of 2013 in the US market, Model S sold  4,750 cars , beating Mercedes Benz S class (3,077) and BMW 7 series (2,338). Both Merc and BMW have over 100 years of history in car production.  Tesla barely made a decade.</li>	



<li>How competitive is Tesla compared to other auto manufacturer? Stock capitalization in September shows that Toyota (21trillion yen) and Volkswagen(11trillionyen) dominates the market, followed by Honda, GM and Nissan at 6th, 7th and 9th with 6, 5, and 4 trillion yen respectively. Tesla made in 10th, with a total of about 3 trillion yen, followed by Fuji Heavy Industry (Subaru, 2 trillion), Suzuki and Mazda, each with 1 trillion. By that time, Tesla has ONLY 2 models in its lineup. In 2017 Tesla announced that they will build a cheaper version of model S.</li>
<li>Tesla paid off its government loan 9 YEARS AHEAD OF ITS SCHEDULE, giving taxpayers a profit of AT LEAST 12 MILLION ON THE ORIGINAL 465 MILLION DOLLAR LOAN. </li>	<br>

</ul>

<p>I strongly believe that electric car is the future for conventional transportation, but unfortunately development for electric vehicle by national car manufacturer  is quite relatively slow.  It might be because market climate for here is quite unsuitable, as nobody is interested in this. But with current rapid climate change due to global warming and shaky oil price, there is no other way to see the future of transportation other than clean energy.</p>
<p>
The reason of me pursuing this pet project is to create an in-house development for electric vehicle right here, in Malaysia. Through developing electric motor, along the process we could learn by mistakes and errors, learning how to improve the structure and performance of it. The next step would be making real test by integrating it in with a small car(probably like an old version mini cooper), test how long does it goes, how long will it endures, and works on improvements that need to be done. As the outcome, I really hope that we could caught the public attention and local vehicle manufacturer on electric powertrain, thus opening up door to further local development. </p>

<p>
<img src="http://d.gr-assets.com/books/1388193743l/125139.jpg" alt="Book ab755a065e997e7461c4011c2e0e201515a6d1770ec9c27a90d066895725414c" style="
    width: 400px;
    position: right;
    float: right;
">


	As a headstart, I already made revision on Physics subject of Electric and Magnetism through Young&Freedman University Physic book,and make some reference on google and youtube about creating an electric motor.  I know, this might sounds silly to take on. Most probably I will be laughed over this article. Most will probably think “there is no such way you could disrupt the market”.  But as Philip Weinman, CEO of Locomotive points out , while you are still young,  “it’s a good time to experiment with a business idea. You will learn from your mistakes during this time, and if you decide that you want to move into a corporate environment, you’ll already know what works and what doesn’t. Along with business experience, you’ll learn to make and stand by your decisions."</p>

<p>I am ready to reach out to the other side of the continent, to those who are expert on this field, or those who have the same interest on green tech to give us advice, and anything worth sharing.I’d like to know, can we built electric motor using 3D printing? could the copper be replaced with much cheaper metal? Please leaves us some comments, as that could help us to break through this technology. </p>

