
<div class="column1" style="
float: left;
spacing: 2px;
margin-right: 30px;
">
<a href="/tesla_model_s">
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/68/Tesla_Motors_logo.svg/346px-Tesla_Motors_logo.svg.png" style="width:192px;">
  <% image_tag("tesla_frunk.JPG")%>
  <div class="panel" style="width:192px;">
  </a>
  <h5>Tesla Model S</h5>
  <h6 class="subheader">Zero Emission.<br>Zero Compromise.<br><br>June 12, 2015</h6>
</div>
</div>



<div class="column2" style="
float: left;
spacing: 2px;
margin-right: 30px;">
<a href="/bmw_i3">
  <img src="http://www.conceptcarz.com/images/BMW/BMW_i8_Concept-2012-Image-05-200.jpg" style="width:192px;height: 277px;">
  <div class="panel" style="width:192px;">
  </a>
  <h5>BMW i8</h5>
  <h6 class="subheader">Big guys goes green.<br>Well, not entirely.<br><br>June 12, 2015</h6>
</div>
</div>



<div class="column2" style="
float: left;
">
<a href="/electric_motor">
<img src="/assets/electric_motor_2-95514f3ce7ddc07a7c886a508e3ae71699fa01d7c5b2168a591120c8c4b02ffa.jpg" alt="Electric motor 2 95514f3ce7ddc07a7c886a508e3ae71699fa01d7c5b2168a591120c8c4b02ffa"style="width:192px;height: 277px;">
  <div class="panel" style="width:192px;">
  </a>
  <h5>Electric Motor!</h5>
  <h6 class="subheader">Can you help me build it?<br><br>August 2, 2015</h6>
</div>
</div>

<style type="text/css">
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;

}
</style>



